### DATA PREPARATION

Importing necssary libraries

In [163]:
import pandas as pd
import numpy as np

Loading the data

In [164]:

admissions = pd.read_csv('data/hosp/admissions.csv')
omr = pd.read_csv('data/hosp/omr.csv')
diagnoses = pd.read_csv('data/hosp/diagnoses_icd.csv')
services = pd.read_csv('data/hosp/services.csv')
patients=pd.read_csv("data/hosp/patients.csv")
diagnoses2=pd.read_csv("data/hosp/d_icd_diagnoses.csv")
prescriptions=pd.read_csv("data/hosp/prescriptions.csv")

The first step was to view the data.

In [165]:
admissions.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,P03YMR,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0
1,10009628,25926192,2153-09-17 17:08:00,2153-09-25 13:20:00,NaN,URGENT,P41R5N,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,?,MARRIED,HISPANIC/LATINO - PUERTO RICAN,NaN,NaN,0
2,10018081,23983182,2134-08-18 02:02:00,2134-08-23 19:35:00,NaN,URGENT,P233F6,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,MARRIED,WHITE,2134-08-17 16:24:00,2134-08-18 03:15:00,0
3,10006053,22942076,2111-11-13 23:39:00,2111-11-15 17:20:00,2111-11-15 17:20:00,URGENT,P38TI6,TRANSFER FROM HOSPITAL,DIED,Medicaid,ENGLISH,NaN,UNKNOWN,NaN,NaN,1
4,10031404,21606243,2113-08-04 18:46:00,2113-08-06 20:57:00,NaN,URGENT,P07HDB,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,NaN,NaN,0

In [166]:
omr.head()

   subject_id   chartdate  seq_num      result_name result_value
0    10011398  2146-12-01        1  Height (Inches)           63
1    10011398  2147-01-22        1     Weight (Lbs)          127
2    10011398  2146-12-01        1     Weight (Lbs)          135
3    10011398  2147-07-24        1     Weight (Lbs)          136
4    10011398  2147-03-26        1     Weight (Lbs)          136

In [167]:
patients.head()

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10014729      F          21         2125       2011 - 2013         NaN
1    10003400      F          72         2134       2011 - 2013  2137-09-02
2    10002428      F          80         2155       2011 - 2013         NaN
3    10032725      F          38         2143       2011 - 2013  2143-03-30
4    10027445      F          48         2142       2011 - 2013  2146-02-09

In [168]:
prescriptions.head()

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10027602,28166872,27168639,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Fentanyl Citrate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10027602,28166872,40720238,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Fentanyl Citrate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10027602,28166872,62845687,NaN,NaN,NaN,2201-10-31 12:00:00,NaN,MAIN,Lorazepam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10027602,28166872,24340150,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Midazolam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10027602,28166872,14435820,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Midazolam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
services.head()

   subject_id   hadm_id         transfertime prev_service curr_service
0    10001725  25563031  2110-04-11 15:09:36          NaN          GYN
1    10019003  28003918  2148-12-21 03:32:53          NaN          GYN
2    10007818  22987108  2146-06-10 16:38:18          NaN          MED
3    10004235  24181354  2196-02-24 14:39:31          NaN          MED
4    10026255  22059910  2201-07-07 18:16:14          NaN          MED

In [170]:
diagnoses.head()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10035185  22580999        3     4139            9
1    10035185  22580999       10     V707            9
2    10035185  22580999        1    41401            9
3    10035185  22580999        9     3899            9
4    10035185  22580999       11    V8532            9

In [171]:
diagnoses2.head()

  icd_code  icd_version                                         long_title
0     0090            9  Infectious colitis, enteritis, and gastroenter...
1    01160            9      Tuberculous pneumonia [any form], unspecified
2    01186            9  Other specified pulmonary tuberculosis, tuberc...
3    01200            9                  Tuberculous pleurisy, unspecified
4    01236            9  Tuberculous laryngitis, tubercle bacilli not f...

In [172]:
pivot_omr = omr.pivot_table(index=['subject_id'], 
                            columns='result_name', 
                            values='result_value', aggfunc="last").reset_index()
pivot_omr.drop([
    "Blood Pressure Lying", 
    "Blood Pressure Sitting", 
    "Blood Pressure Standing (1 min)", 
    "Blood Pressure Standing (3 mins)"
], axis=1, inplace=True)

pivot_omr.rename(columns={"BMI (kg/m2)":"bmi"}, inplace=True)
pivot_omr.rename(columns={"Blood Pressure":"blood pressure"}, inplace=True)
pivot_omr.rename(columns={"Height (Inches)":"height"}, inplace=True)
pivot_omr.rename(columns={"Weight (Lbs)":"weight"}, inplace=True)

#convert height from inches to meters and round to 2 decimal places
pivot_omr["height"]=pivot_omr["height"].astype(float)/39.3700787
pivot_omr["height"]=round(pivot_omr["height"],2)

#convert weight from lbs to kg and round to 2 decimal places
pivot_omr["weight"]=pivot_omr["weight"].astype(float)*0.453592
pivot_omr["weight"]=round(pivot_omr["weight"],2)

pivot_omr

result_name  subject_id   bmi blood pressure  height  weight
0              10000032  19.2         121/77    1.52   44.60
1              10001217  24.3         134/84    1.68   68.17
2              10001725  32.6         142/72    1.63   80.20
3              10002428  21.5        190/105    1.52   40.82
4              10002495  25.8         159/59    1.68   72.57
..                  ...   ...            ...     ...     ...
74             10038992  31.9         140/85    1.78  101.00
75             10038999  33.4            NaN    1.73   99.79
76             10039708  39.1         140/66    1.59   77.30
77             10039997  33.4         150/84    1.65   81.60
78             10040025  38.1         112/60    1.68  107.20

[79 rows x 5 columns]

In [173]:
merged_diagnoses= pd.merge(diagnoses, diagnoses2, on=['icd_code', 'icd_version'], how='left')
merged_diagnoses.drop(["icd_code", "icd_version","seq_num"],axis=1,inplace=True)
#rename long_title column to diagnosis
merged_diagnoses.rename(columns={"long_title":"diagnosis"}, inplace=True)
#merge diagnoseswith the pivot_omr dataframe using the subject_id column
merged_diagnoses = pd.merge(merged_diagnoses, pivot_omr, on="subject_id", how="right")
merged_diagnoses.head()

,subject_id,hadm_id,diagnosis,bmi,blood pressure,height,weight
0,10000032,22841357,Hyposmolality and/or hyponatremia,19.2,121/77,1.52,44.6
1,10000032,22841357,Asymptomatic human immunodeficiency virus [HIV...,19.2,121/77,1.52,44.6
2,10000032,22841357,"Thrombocytopenia, unspecified",19.2,121/77,1.52,44.6
3,10000032,22841357,Tobacco use disorder,19.2,121/77,1.52,44.6
4,10000032,22841357,Cirrhosis of liver without mention of alcohol,19.2,121/77,1.52,44.6

In [174]:
death_df=admissions[["subject_id","hadm_id","deathtime"]].copy()
death_df["died"]=death_df["deathtime"].isna()==False
death_df.drop("deathtime",axis=1,inplace=True)
death_df.head()

   subject_id   hadm_id   died
0    10004235  24181354  False
1    10009628  25926192  False
2    10018081  23983182  False
3    10006053  22942076   True
4    10031404  21606243  False

In [175]:
#Merge the death df with the merged diagnoses dataframe

diagnoses_death_df=pd.merge(merged_diagnoses, death_df, on=["subject_id","hadm_id"], how="left")
diagnoses_death_df["died"].fillna(False, inplace=True)

diagnoses_death_df

,subject_id,hadm_id,diagnosis,bmi,blood pressure,height,weight,died
0,10000032,22841357,Hyposmolality and/or hyponatremia,19.2,121/77,1.52,44.6,False
1,10000032,22841357,Asymptomatic human immunodeficiency virus [HIV...,19.2,121/77,1.52,44.6,False
2,10000032,22841357,"Thrombocytopenia, unspecified",19.2,121/77,1.52,44.6,False
3,10000032,22841357,Tobacco use disorder,19.2,121/77,1.52,44.6,False
4,10000032,22841357,Cirrhosis of liver without mention of alcohol,19.2,121/77,1.52,44.6,False
...,...,...,...,...,...,...,...,...
4103,10040025,25384176,Acute on chronic diastolic heart failure,38.1,112/60,1.68,107.2,False
4104,10040025,25384176,Personal history of tobacco use,38.1,112/60,1.68,107.2,False
4105,10040025,25384176,Percutaneous transluminal coronary angioplasty...,38.1,112/60,1.68,107.2,False
4106,10040025,25384176,"Congestive heart failure, unspecified",38.1,112/60,1.68,107.2,False
4107,10040025,25384176,"Obesity, unspecified",38.1,112/60,1.68,107.2,False

In [176]:
# merging the filtered_df dataframe with the diagnoses_death_df dataframe using the subject_id column as the key. 
filtered_df=patients[["subject_id","gender","anchor_age"]]
diagnoses_death_df=pd.merge(filtered_df, diagnoses_death_df, on="subject_id", how="right")
#rename anchor_age to age

diagnoses_death_df.rename(columns={"anchor_age":"age"}, inplace=True)
diagnoses_death_df

,subject_id,gender,age,hadm_id,diagnosis,bmi,blood pressure,height,weight,died
0,10000032,F,52,22841357,Hyposmolality and/or hyponatremia,19.2,121/77,1.52,44.6,False
1,10000032,F,52,22841357,Asymptomatic human immunodeficiency virus [HIV...,19.2,121/77,1.52,44.6,False
2,10000032,F,52,22841357,"Thrombocytopenia, unspecified",19.2,121/77,1.52,44.6,False
3,10000032,F,52,22841357,Tobacco use disorder,19.2,121/77,1.52,44.6,False
4,10000032,F,52,22841357,Cirrhosis of liver without mention of alcohol,19.2,121/77,1.52,44.6,False
...,...,...,...,...,...,...,...,...,...,...
4103,10040025,F,64,25384176,Acute on chronic diastolic heart failure,38.1,112/60,1.68,107.2,False
4104,10040025,F,64,25384176,Personal history of tobacco use,38.1,112/60,1.68,107.2,False
4105,10040025,F,64,25384176,Percutaneous transluminal coronary angioplasty...,38.1,112/60,1.68,107.2,False
4106,10040025,F,64,25384176,"Congestive heart failure, unspecified",38.1,112/60,1.68,107.2,False
4107,10040025,F,64,25384176,"Obesity, unspecified",38.1,112/60,1.68,107.2,False

In [177]:

length_of_stay_df =diagnoses_death_df.copy()
admissions_filtered_df=admissions[["subject_id","hadm_id","admittime","dischtime","marital_status","race","admission_type","admission_location"]]
length_of_stay_df=pd.merge(admissions_filtered_df, length_of_stay_df, on=["subject_id","hadm_id"],how="right")
#convert admittime to datetime format

length_of_stay_df["admittime"]=pd.to_datetime(length_of_stay_df["admittime"])
length_of_stay_df["dischtime"]=pd.to_datetime(length_of_stay_df["dischtime"])

#calculate the length of stay in days

length_of_stay_df["length_of_stay"]=length_of_stay_df["dischtime"]-length_of_stay_df["admittime"]
length_of_stay_df["length_of_stay"]=length_of_stay_df["length_of_stay"].dt.days

length_of_stay_df

,subject_id,hadm_id,admittime,dischtime,marital_status,race,admission_type,admission_location,gender,age,diagnosis,bmi,blood pressure,height,weight,died,length_of_stay
0,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,WIDOWED,WHITE,EW EMER.,EMERGENCY ROOM,F,52,Hyposmolality and/or hyponatremia,19.2,121/77,1.52,44.6,False,1
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,WIDOWED,WHITE,EW EMER.,EMERGENCY ROOM,F,52,Asymptomatic human immunodeficiency virus [HIV...,19.2,121/77,1.52,44.6,False,1
2,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,WIDOWED,WHITE,EW EMER.,EMERGENCY ROOM,F,52,"Thrombocytopenia, unspecified",19.2,121/77,1.52,44.6,False,1
3,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,WIDOWED,WHITE,EW EMER.,EMERGENCY ROOM,F,52,Tobacco use disorder,19.2,121/77,1.52,44.6,False,1
4,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,WIDOWED,WHITE,EW EMER.,EMERGENCY ROOM,F,52,Cirrhosis of liver without mention of alcohol,19.2,121/77,1.52,44.6,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4103,10040025,25384176,2145-10-19 23:48:00,2145-10-24 14:20:00,DIVORCED,WHITE,EW EMER.,EMERGENCY ROOM,F,64,Acute on chronic diastolic heart failure,38.1,112/60,1.68,107.2,False,4
4104,10040025,25384176,2145-10-19 23:48:00,2145-10-24 14:20:00,DIVORCED,WHITE,EW EMER.,EMERGENCY ROOM,F,64,Personal history of tobacco use,38.1,112/60,1.68,107.2,False,4
4105,10040025,25384176,2145-10-19 23:48:00,2145-10-24 14:20:00,DIVORCED,WHITE,EW EMER.,EMERGENCY ROOM,F,64,Percutaneous transluminal coronary angioplasty...,38.1,112/60,1.68,107.2,False,4
4106,10040025,25384176,2145-10-19 23:48:00,2145-10-24 14:20:00,DIVORCED,WHITE,EW EMER.,EMERGENCY ROOM,F,64,"Congestive heart failure, unspecified",38.1,112/60,1.68,107.2,False,4
4107,10040025,25384176,2145-10-19 23:48:00,2145-10-24 14:20:00,DIVORCED,WHITE,EW EMER.,EMERGENCY ROOM,F,64,"Obesity, unspecified",38.1,112/60,1.68,107.2,False,4

In [188]:
#merging specific features from the prescriptions csv
prescriptions_df=length_of_stay_df.copy()
filtered_readmission_df =prescriptions[["subject_id","hadm_id","drug_type","drug"]]
prescriptions_df=pd.merge(filtered_readmission_df, prescriptions_df, on=["subject_id","hadm_id"],how="left")
#dropping duplicates from the readmission_df
prescriptions_df.drop_duplicates(inplace=True)
prescriptions_df

,subject_id,hadm_id,drug_type,drug,admittime,dischtime,marital_status,race,admission_type,admission_location,gender,age,diagnosis,bmi,blood pressure,height,weight,died,length_of_stay
0,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,"Urinary tract infection, site not specified",27.7,128/80,1.59,69.17,False,21.0
1,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,Acute respiratory failure,27.7,128/80,1.59,69.17,False,21.0
2,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,"Asthma, unspecified type, unspecified",27.7,128/80,1.59,69.17,False,21.0
3,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,Solitary pulmonary nodule,27.7,128/80,1.59,69.17,False,21.0
4,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,Streptococcus infection in conditions classifi...,27.7,128/80,1.59,69.17,False,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354616,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,2150-04-30 20:19:00,2150-05-07 14:10:00,SINGLE,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,M,60.0,"Constipation, unspecified",40.3,187/74,1.84,124.00,False,6.0
354617,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,2150-04-30 20:19:00,2150-05-07 14:10:00,SINGLE,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,M,60.0,"Hematuria, unspecified",40.3,187/74,1.84,124.00,False,6.0
354618,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,2150-04-30 20:19:00,2150-05-07 14:10:00,SINGLE,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,M,60.0,Obstructive sleep apnea (adult) (pediatric),40.3,187/74,1.84,124.00,False,6.0
354619,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,2150-04-30 20:19:00,2150-05-07 14:10:00,SINGLE,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,M,60.0,Long term (current) use of anticoagulants,40.3,187/74,1.84,124.00,False,6.0
354620,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,2150-04-30 20:19:00,2150-05-07 14:10:00,SINGLE,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,M,60.0,Sick sinus syndrome,40.3,187/74,1.84,124.00,False,6.0

In [179]:
#Useful for TimeSeries
df=admissions.copy()
df.admittime = pd.to_datetime(df.admittime)   
df.dischtime = pd.to_datetime(df.dischtime)

df1 = df.groupby([df.admittime.dt.year, df.admittime.dt.month]).count().rename_axis(['year', 'month'])['admittime'].reset_index(name='Entries')

df1

     year  month  Entries
0    2110      4        1
1    2110     11        1
2    2111      1        1
3    2111     11        1
4    2112      9        1
..    ...    ...      ...
217  2201      2        1
218  2201      3        1
219  2201      7        1
220  2201     10        1
221  2201     12        1

[222 rows x 3 columns]

In [180]:
admissions.duplicated().value_counts()

False    275
Name: count, dtype: int64

In [181]:
#Calculating the number of readmissions for each subject_id using a readmission threshold of 30 days
readmissions_df= admissions[["subject_id","hadm_id","admittime","dischtime"]].copy()


readmissions_df['admittime'] = pd.to_datetime(readmissions_df['admittime'])
readmissions_df['dischtime'] = pd.to_datetime(readmissions_df['dischtime'])

# Assuming df is your dataframe and readmission_threshold is defined
readmission_threshold = pd.Timedelta(days=30)

# Sort by subject_id, admittime
readmissions_df = readmissions_df.sort_values(by=['subject_id', 'admittime'])

# Calculate the time to next admission and determine if it's a readmission
readmissions_df['next_admittime'] = readmissions_df.groupby('subject_id')['admittime'].shift(-1)
readmissions_df['readmission_time'] = readmissions_df['next_admittime'] - readmissions_df['dischtime']
readmissions_df['is_readmission'] = (readmissions_df['readmission_time'] <= readmission_threshold) & (readmissions_df['readmission_time'] > pd.Timedelta(days=0))

# Calculate readmissions per patient
readmissions_df['readmissions'] = readmissions_df.groupby('subject_id')['is_readmission'].cumsum()
readmissions_df

,subject_id,hadm_id,admittime,dischtime,next_admittime,readmission_time,is_readmission,readmissions
18,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,2180-06-26 18:27:00,50 days 01:12:00,False,0
103,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,2180-07-23 12:35:00,25 days 17:46:00,True,1
105,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,2180-08-05 23:44:00,11 days 05:49:00,True,2
104,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,NaT,False,2
65,10001217,24597018,2157-11-18 22:56:00,2157-11-25 18:00:00,2157-12-18 16:58:00,22 days 22:58:00,True,1
...,...,...,...,...,...,...,...,...
237,10040025,22251969,2147-08-03 02:58:00,2147-08-06 16:50:00,2147-11-09 08:02:00,94 days 15:12:00,False,1
138,10040025,27876215,2147-11-09 08:02:00,2147-11-14 18:53:00,2147-12-04 20:48:00,20 days 01:55:00,True,2
238,10040025,27259207,2147-12-04 20:48:00,2147-12-18 16:43:00,2147-12-29 19:36:00,11 days 02:53:00,True,3
50,10040025,25933959,2147-12-29 19:36:00,2148-01-09 17:38:00,2148-01-23 12:18:00,13 days 18:40:00,True,4
239,10040025,27996267,2148-01-23 12:18:00,2148-02-04 20:51:00,NaT,NaT,False,4

### Data Cleaning

In [189]:
#Checking for duplicates and missing values from the prescriptions df

prescriptions_df.duplicated().sum()

0

In [183]:
#missing values
prescriptions_df.isnull().sum()

subject_id                0
hadm_id                   0
drug_type                 0
drug                      0
admittime               878
dischtime               878
marital_status         3255
race                    878
admission_type          878
admission_location      878
gender                  878
age                     878
diagnosis               878
bmi                   11705
blood pressure        13794
height                14370
weight                 4877
died                    878
length_of_stay          878
dtype: int64

In [184]:
#drop missing values from the dataset

prescriptions_df.dropna(inplace=True)
prescriptions_df

,subject_id,hadm_id,drug_type,drug,admittime,dischtime,marital_status,race,admission_type,admission_location,gender,age,diagnosis,bmi,blood pressure,height,weight,died,length_of_stay
0,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,"Urinary tract infection, site not specified",27.7,128/80,1.59,69.17,False,21.0
1,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,Acute respiratory failure,27.7,128/80,1.59,69.17,False,21.0
2,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,"Asthma, unspecified type, unspecified",27.7,128/80,1.59,69.17,False,21.0
3,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,Solitary pulmonary nodule,27.7,128/80,1.59,69.17,False,21.0
4,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,Streptococcus infection in conditions classifi...,27.7,128/80,1.59,69.17,False,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354616,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,2150-04-30 20:19:00,2150-05-07 14:10:00,SINGLE,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,M,60.0,"Constipation, unspecified",40.3,187/74,1.84,124.00,False,6.0
354617,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,2150-04-30 20:19:00,2150-05-07 14:10:00,SINGLE,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,M,60.0,"Hematuria, unspecified",40.3,187/74,1.84,124.00,False,6.0
354618,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,2150-04-30 20:19:00,2150-05-07 14:10:00,SINGLE,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,M,60.0,Obstructive sleep apnea (adult) (pediatric),40.3,187/74,1.84,124.00,False,6.0
354619,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,2150-04-30 20:19:00,2150-05-07 14:10:00,SINGLE,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,M,60.0,Long term (current) use of anticoagulants,40.3,187/74,1.84,124.00,False,6.0
354620,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,2150-04-30 20:19:00,2150-05-07 14:10:00,SINGLE,WHITE,OBSERVATION ADMIT,TRANSFER FROM HOSPITAL,M,60.0,Sick sinus syndrome,40.3,187/74,1.84,124.00,False,6.0

In [185]:
prescriptions_df.isnull().sum()

subject_id            0
hadm_id               0
drug_type             0
drug                  0
admittime             0
dischtime             0
marital_status        0
race                  0
admission_type        0
admission_location    0
gender                0
age                   0
diagnosis             0
bmi                   0
blood pressure        0
height                0
weight                0
died                  0
length_of_stay        0
dtype: int64

In [190]:
cleaned_data= prescriptions_df.copy()
cleaned_data.head()

,subject_id,hadm_id,drug_type,drug,admittime,dischtime,marital_status,race,admission_type,admission_location,gender,age,diagnosis,bmi,blood pressure,height,weight,died,length_of_stay
0,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,"Urinary tract infection, site not specified",27.7,128/80,1.59,69.17,False,21.0
1,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,Acute respiratory failure,27.7,128/80,1.59,69.17,False,21.0
2,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,"Asthma, unspecified type, unspecified",27.7,128/80,1.59,69.17,False,21.0
3,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,Solitary pulmonary nodule,27.7,128/80,1.59,69.17,False,21.0
4,10027602,28166872,MAIN,Fentanyl Citrate,2201-10-30 12:05:00,2201-11-20 14:45:00,SINGLE,WHITE,EW EMER.,EMERGENCY ROOM,F,71.0,Streptococcus infection in conditions classifi...,27.7,128/80,1.59,69.17,False,21.0