### DATA PREPARATION

Importing necssary libraries

In [286]:
import pandas as pd
import numpy as np

Loading the data

In [287]:

admissions = pd.read_csv('data/hosp/admissions.csv')
omr = pd.read_csv('data/hosp/omr.csv')
diagnoses = pd.read_csv('data/hosp/diagnoses_icd.csv')
services = pd.read_csv('data/hosp/services.csv')
patients=pd.read_csv("data/hosp/patients.csv")
diagnoses2=pd.read_csv("data/hosp/d_icd_diagnoses.csv")
prescriptions=pd.read_csv("data/hosp/prescriptions.csv")

The first step was to view the data.

In [288]:
admissions.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,P03YMR,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0
1,10009628,25926192,2153-09-17 17:08:00,2153-09-25 13:20:00,NaN,URGENT,P41R5N,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,?,MARRIED,HISPANIC/LATINO - PUERTO RICAN,NaN,NaN,0
2,10018081,23983182,2134-08-18 02:02:00,2134-08-23 19:35:00,NaN,URGENT,P233F6,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,MARRIED,WHITE,2134-08-17 16:24:00,2134-08-18 03:15:00,0
3,10006053,22942076,2111-11-13 23:39:00,2111-11-15 17:20:00,2111-11-15 17:20:00,URGENT,P38TI6,TRANSFER FROM HOSPITAL,DIED,Medicaid,ENGLISH,NaN,UNKNOWN,NaN,NaN,1
4,10031404,21606243,2113-08-04 18:46:00,2113-08-06 20:57:00,NaN,URGENT,P07HDB,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,NaN,NaN,0

In [289]:
omr.head()

   subject_id   chartdate  seq_num      result_name result_value
0    10011398  2146-12-01        1  Height (Inches)           63
1    10011398  2147-01-22        1     Weight (Lbs)          127
2    10011398  2146-12-01        1     Weight (Lbs)          135
3    10011398  2147-07-24        1     Weight (Lbs)          136
4    10011398  2147-03-26        1     Weight (Lbs)          136

In [290]:
patients.head()

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10014729      F          21         2125       2011 - 2013         NaN
1    10003400      F          72         2134       2011 - 2013  2137-09-02
2    10002428      F          80         2155       2011 - 2013         NaN
3    10032725      F          38         2143       2011 - 2013  2143-03-30
4    10027445      F          48         2142       2011 - 2013  2146-02-09

In [291]:
prescriptions.head()

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10027602,28166872,27168639,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Fentanyl Citrate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10027602,28166872,40720238,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Fentanyl Citrate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10027602,28166872,62845687,NaN,NaN,NaN,2201-10-31 12:00:00,NaN,MAIN,Lorazepam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10027602,28166872,24340150,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Midazolam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10027602,28166872,14435820,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Midazolam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [292]:
services.head()

   subject_id   hadm_id         transfertime prev_service curr_service
0    10001725  25563031  2110-04-11 15:09:36          NaN          GYN
1    10019003  28003918  2148-12-21 03:32:53          NaN          GYN
2    10007818  22987108  2146-06-10 16:38:18          NaN          MED
3    10004235  24181354  2196-02-24 14:39:31          NaN          MED
4    10026255  22059910  2201-07-07 18:16:14          NaN          MED

In [293]:
diagnoses.head()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10035185  22580999        3     4139            9
1    10035185  22580999       10     V707            9
2    10035185  22580999        1    41401            9
3    10035185  22580999        9     3899            9
4    10035185  22580999       11    V8532            9

In [294]:
diagnoses2.head()

  icd_code  icd_version                                         long_title
0     0090            9  Infectious colitis, enteritis, and gastroenter...
1    01160            9      Tuberculous pneumonia [any form], unspecified
2    01186            9  Other specified pulmonary tuberculosis, tuberc...
3    01200            9                  Tuberculous pleurisy, unspecified
4    01236            9  Tuberculous laryngitis, tubercle bacilli not f...

In [295]:
pivot_omr = omr.pivot_table(index=['subject_id'], 
                            columns='result_name', 
                            values='result_value', aggfunc="last").reset_index()
pivot_omr.drop([
    "Blood Pressure Lying", 
    "Blood Pressure Sitting", 
    "Blood Pressure Standing (1 min)", 
    "Blood Pressure Standing (3 mins)"
], axis=1, inplace=True)

pivot_omr.rename(columns={"BMI (kg/m2)":"bmi"}, inplace=True)
pivot_omr.rename(columns={"Blood Pressure":"blood pressure"}, inplace=True)
pivot_omr.rename(columns={"Height (Inches)":"height"}, inplace=True)
pivot_omr.rename(columns={"Weight (Lbs)":"weight"}, inplace=True)

#convert height from inches to meters and round to 2 decimal places
pivot_omr["height"]=pivot_omr["height"].astype(float)/39.3700787
pivot_omr["height"]=round(pivot_omr["height"],2)

#convert weight from lbs to kg and round to 2 decimal places
pivot_omr["weight"]=pivot_omr["weight"].astype(float)*0.453592
pivot_omr["weight"]=round(pivot_omr["weight"],2)

pivot_omr

result_name  subject_id   bmi blood pressure  height  weight
0              10000032  19.2         121/77    1.52   44.60
1              10001217  24.3         134/84    1.68   68.17
2              10001725  32.6         142/72    1.63   80.20
3              10002428  21.5        190/105    1.52   40.82
4              10002495  25.8         159/59    1.68   72.57
..                  ...   ...            ...     ...     ...
74             10038992  31.9         140/85    1.78  101.00
75             10038999  33.4            NaN    1.73   99.79
76             10039708  39.1         140/66    1.59   77.30
77             10039997  33.4         150/84    1.65   81.60
78             10040025  38.1         112/60    1.68  107.20

[79 rows x 5 columns]

In [296]:
#defining t a function to define the base of all dataframes
base_df = pd.merge(admissions, pivot_omr, how="left", on="subject_id")
base_df.drop([
    "admit_provider_id",
    "discharge_location",
    "hospital_expire_flag",
    "edregtime",
    "edouttime",
], axis=1, inplace=True)
filtered_df=patients[["subject_id","gender","anchor_age"]]
base_df=pd.merge(filtered_df, base_df, on="subject_id", how="right")
#rename anchor_age to age
base_df.rename(columns={"anchor_age":"age"}, inplace=True)
base_df

,subject_id,gender,age,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,insurance,language,marital_status,race,bmi,blood pressure,height,weight
0,10004235,M,47,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57
1,10009628,M,58,25926192,2153-09-17 17:08:00,2153-09-25 13:20:00,NaN,URGENT,TRANSFER FROM HOSPITAL,Medicaid,?,MARRIED,HISPANIC/LATINO - PUERTO RICAN,NaN,108/70,NaN,NaN
2,10018081,M,79,23983182,2134-08-18 02:02:00,2134-08-23 19:35:00,NaN,URGENT,TRANSFER FROM HOSPITAL,Medicare,ENGLISH,MARRIED,WHITE,28.5,140/60,1.73,85.00
3,10006053,M,52,22942076,2111-11-13 23:39:00,2111-11-15 17:20:00,2111-11-15 17:20:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,NaN,UNKNOWN,NaN,NaN,NaN,NaN
4,10031404,F,82,21606243,2113-08-04 18:46:00,2113-08-06 20:57:00,NaN,URGENT,TRANSFER FROM HOSPITAL,Other,ENGLISH,WIDOWED,WHITE,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,10038992,M,70,24745425,2187-07-29 01:05:00,2187-08-03 17:02:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,MARRIED,WHITE,31.9,140/85,1.78,101.00
271,10008287,F,43,22168393,2145-09-28 01:17:00,2145-10-02 13:35:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Other,ENGLISH,SINGLE,WHITE,NaN,96/60,NaN,75.34
272,10022880,M,66,27708593,2177-03-12 07:15:00,2177-03-19 14:25:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,MARRIED,WHITE,29.3,142/84,1.85,95.25
273,10004457,M,65,23251352,2141-12-17 11:00:00,2141-12-21 15:56:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,SINGLE,OTHER,24.4,162/89,1.77,76.11
274,10004457,M,65,28108313,2147-12-19 00:00:00,2147-12-21 16:10:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11

In [297]:
merged_diagnoses= pd.merge(diagnoses, diagnoses2, on=['icd_code', 'icd_version'], how='left')
merged_diagnoses.drop(["icd_code", "icd_version","seq_num"],axis=1,inplace=True)
#rename long_title column to diagnosis
merged_diagnoses.rename(columns={"long_title":"diagnosis"}, inplace=True)
#merge diagnoseswith the pivot_omr dataframe using the subject_id column
merged_diagnoses = pd.merge(merged_diagnoses, base_df, on="subject_id", how="right")
merged_diagnoses.drop("hadm_id_y", axis=1, inplace=True)
#rename hadm_id_x to hadm_id
merged_diagnoses.rename(columns={"hadm_id_x":"hadm_id"}, inplace=True)
merged_diagnoses

,subject_id,hadm_id,diagnosis,gender,age,admittime,dischtime,deathtime,admission_type,admission_location,insurance,language,marital_status,race,bmi,blood pressure,height,weight
0,10004235,25970245,Acute and chronic cholecystitis,M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57
1,10004235,25970245,"Body Mass Index 35.0-35.9, adult",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57
2,10004235,25970245,Other specified cardiac dysrhythmias,M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57
3,10004235,25970245,"Obesity, unspecified",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57
4,10004235,25970245,"Gout, unspecified",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31228,10004457,23251352,Personal history of malignant neoplasm of pros...,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11
31229,10004457,23251352,Multiple involvement of mitral and aortic valves,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11
31230,10004457,23251352,"Asthma, unspecified type, unspecified",M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11
31231,10004457,23251352,Chronic total occlusion of coronary artery,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11
31232,10004457,23251352,Personal history of antineoplastic chemotherapy,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,NaN,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11

In [298]:
death_df=admissions[["subject_id","hadm_id","deathtime"]].copy()
death_df["died"]=death_df["deathtime"].isna()==False
death_df.drop("deathtime",axis=1,inplace=True)
death_df.head()

   subject_id   hadm_id   died
0    10004235  24181354  False
1    10009628  25926192  False
2    10018081  23983182  False
3    10006053  22942076   True
4    10031404  21606243  False

In [299]:
#Merge the death df with the merged diagnoses dataframe

diagnoses_death_df=pd.merge(merged_diagnoses, death_df, on=["subject_id","hadm_id"], how="left")
diagnoses_death_df["died"].fillna(False, inplace=True)
diagnoses_death_df.drop("deathtime",axis=1, inplace=True)
diagnoses_death_df

,subject_id,hadm_id,diagnosis,gender,age,admittime,dischtime,admission_type,admission_location,insurance,language,marital_status,race,bmi,blood pressure,height,weight,died
0,10004235,25970245,Acute and chronic cholecystitis,M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False
1,10004235,25970245,"Body Mass Index 35.0-35.9, adult",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False
2,10004235,25970245,Other specified cardiac dysrhythmias,M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False
3,10004235,25970245,"Obesity, unspecified",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False
4,10004235,25970245,"Gout, unspecified",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31228,10004457,23251352,Personal history of malignant neoplasm of pros...,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False
31229,10004457,23251352,Multiple involvement of mitral and aortic valves,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False
31230,10004457,23251352,"Asthma, unspecified type, unspecified",M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False
31231,10004457,23251352,Chronic total occlusion of coronary artery,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False
31232,10004457,23251352,Personal history of antineoplastic chemotherapy,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False

In [300]:
# merging the filtered_df dataframe with the diagnoses_death_df dataframe using the subject_id column as the key. 
filtered_df=patients[["subject_id","anchor_age"]]
diagnoses_death_df=pd.merge(filtered_df, diagnoses_death_df, on="subject_id", how="right")
#rename anchor_age to age

diagnoses_death_df.rename(columns={"anchor_age":"age"}, inplace=True)
diagnoses_death_df

,subject_id,age,hadm_id,diagnosis,gender,age,admittime,dischtime,admission_type,admission_location,insurance,language,marital_status,race,bmi,blood pressure,height,weight,died
0,10004235,47,25970245,Acute and chronic cholecystitis,M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False
1,10004235,47,25970245,"Body Mass Index 35.0-35.9, adult",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False
2,10004235,47,25970245,Other specified cardiac dysrhythmias,M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False
3,10004235,47,25970245,"Obesity, unspecified",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False
4,10004235,47,25970245,"Gout, unspecified",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31228,10004457,65,23251352,Personal history of malignant neoplasm of pros...,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False
31229,10004457,65,23251352,Multiple involvement of mitral and aortic valves,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False
31230,10004457,65,23251352,"Asthma, unspecified type, unspecified",M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False
31231,10004457,65,23251352,Chronic total occlusion of coronary artery,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False
31232,10004457,65,23251352,Personal history of antineoplastic chemotherapy,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False

In [301]:

length_of_stay_df =diagnoses_death_df.copy()

length_of_stay_df["admittime"]=pd.to_datetime(length_of_stay_df["admittime"])
length_of_stay_df["dischtime"]=pd.to_datetime(length_of_stay_df["dischtime"])

#calculate the length of stay in days

length_of_stay_df["length_of_stay"]=length_of_stay_df["dischtime"]-length_of_stay_df["admittime"]
length_of_stay_df["length_of_stay"]=length_of_stay_df["length_of_stay"].dt.days

length_of_stay_df

,subject_id,age,hadm_id,diagnosis,gender,age,admittime,dischtime,admission_type,admission_location,insurance,language,marital_status,race,bmi,blood pressure,height,weight,died,length_of_stay
0,10004235,47,25970245,Acute and chronic cholecystitis,M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False,8
1,10004235,47,25970245,"Body Mass Index 35.0-35.9, adult",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False,8
2,10004235,47,25970245,Other specified cardiac dysrhythmias,M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False,8
3,10004235,47,25970245,"Obesity, unspecified",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False,8
4,10004235,47,25970245,"Gout, unspecified",M,47,2196-02-24 14:38:00,2196-03-04 14:02:00,URGENT,TRANSFER FROM HOSPITAL,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,34.9,138/101,1.83,116.57,False,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31228,10004457,65,23251352,Personal history of malignant neoplasm of pros...,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False,2
31229,10004457,65,23251352,Multiple involvement of mitral and aortic valves,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False,2
31230,10004457,65,23251352,"Asthma, unspecified type, unspecified",M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False,2
31231,10004457,65,23251352,Chronic total occlusion of coronary artery,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False,2
31232,10004457,65,23251352,Personal history of antineoplastic chemotherapy,M,65,2147-12-19 00:00:00,2147-12-21 16:10:00,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Medicare,ENGLISH,DIVORCED,WHITE,24.4,162/89,1.77,76.11,False,2

In [303]:
#merging specific features from the prescriptions csv
prescriptions_df=length_of_stay_df.copy()
filtered_readmission_df =prescriptions[["subject_id","hadm_id","drug_type","drug"]]
prescriptions_df=pd.merge(filtered_readmission_df, prescriptions_df, on=["subject_id","hadm_id"],how="left")
#prescriptions.drop("gender_y", axis=1, inplace=True)
#rename gender_x to gender
prescriptions_df.rename(columns={"gender_x":"gender"}, inplace=True)
#dropping duplicates from the readmission_df
prescriptions_df.drop_duplicates(inplace=True)
prescriptions_df

,subject_id,hadm_id,drug_type,drug,age,diagnosis,gender,age,admittime,dischtime,...,insurance,language,marital_status,race,bmi,blood pressure,height,weight,died,length_of_stay
0,10027602,28166872,MAIN,Fentanyl Citrate,71,"Urinary tract infection, site not specified",F,71,2201-10-30 12:05:00,2201-11-20 14:45:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
1,10027602,28166872,MAIN,Fentanyl Citrate,71,Acute respiratory failure,F,71,2201-10-30 12:05:00,2201-11-20 14:45:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
2,10027602,28166872,MAIN,Fentanyl Citrate,71,"Asthma, unspecified type, unspecified",F,71,2201-10-30 12:05:00,2201-11-20 14:45:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
3,10027602,28166872,MAIN,Fentanyl Citrate,71,Solitary pulmonary nodule,F,71,2201-10-30 12:05:00,2201-11-20 14:45:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
4,10027602,28166872,MAIN,Fentanyl Citrate,71,Streptococcus infection in conditions classifi...,F,71,2201-10-30 12:05:00,2201-11-20 14:45:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2362332,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,60,"Constipation, unspecified",M,60,2148-06-24 15:22:00,2148-06-28 13:54:00,...,Other,ENGLISH,SINGLE,WHITE,40.3,187/74,1.84,124.00,False,3
2362333,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,60,"Hematuria, unspecified",M,60,2148-06-24 15:22:00,2148-06-28 13:54:00,...,Other,ENGLISH,SINGLE,WHITE,40.3,187/74,1.84,124.00,False,3
2362334,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,60,Obstructive sleep apnea (adult) (pediatric),M,60,2148-06-24 15:22:00,2148-06-28 13:54:00,...,Other,ENGLISH,SINGLE,WHITE,40.3,187/74,1.84,124.00,False,3
2362335,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,60,Long term (current) use of anticoagulants,M,60,2148-06-24 15:22:00,2148-06-28 13:54:00,...,Other,ENGLISH,SINGLE,WHITE,40.3,187/74,1.84,124.00,False,3
2362336,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,60,Sick sinus syndrome,M,60,2148-06-24 15:22:00,2148-06-28 13:54:00,...,Other,ENGLISH,SINGLE,WHITE,40.3,187/74,1.84,124.00,False,3

In [305]:
#Useful for TimeSeries
df=admissions.copy()
df.admittime = pd.to_datetime(df.admittime)   
df.dischtime = pd.to_datetime(df.dischtime)

df1 = df.groupby([df.admittime.dt.year, df.admittime.dt.month]).count().rename_axis(['year', 'month'])['admittime'].reset_index(name='Entries')

df1

     year  month  Entries
0    2110      4        1
1    2110     11        1
2    2111      1        1
3    2111     11        1
4    2112      9        1
..    ...    ...      ...
217  2201      2        1
218  2201      3        1
219  2201      7        1
220  2201     10        1
221  2201     12        1

[222 rows x 3 columns]

In [306]:
admissions.duplicated().value_counts()

False    275
Name: count, dtype: int64

In [314]:
#Calculating the number of readmissions for each subject_id using a readmission threshold of 30 days
readmissions_df= admissions[["subject_id","hadm_id","admittime","dischtime"]].copy()


readmissions_df['admittime'] = pd.to_datetime(readmissions_df['admittime'])
readmissions_df['dischtime'] = pd.to_datetime(readmissions_df['dischtime'])

# Assuming df is your dataframe and readmission_threshold is defined
readmission_threshold = pd.Timedelta(days=30)

# Sort by subject_id, admittime
readmissions_df = readmissions_df.sort_values(by=['subject_id', 'admittime'])

# Calculate the time to next admission and determine if it's a readmission
readmissions_df['next_admittime'] = readmissions_df.groupby('subject_id')['admittime'].shift(-1)
readmissions_df['readmission_time'] = readmissions_df['next_admittime'] - readmissions_df['dischtime']
readmissions_df['is_readmission'] = (readmissions_df['readmission_time'] <= readmission_threshold) & (readmissions_df['readmission_time'] > pd.Timedelta(days=0))

# Calculate readmissions per patient
readmissions_df['readmissions'] = readmissions_df.groupby('subject_id')['is_readmission'].cumsum()
#merge readmission_df with base_df on subject_id and hadm_id

readmissions_df = pd.merge(readmissions_df, base_df, on=['subject_id', 'hadm_id'], how='left')
readmissions_df

,subject_id,hadm_id,admittime_x,dischtime_x,next_admittime,readmission_time,is_readmission,readmissions,gender,age,...,admission_type,admission_location,insurance,language,marital_status,race,bmi,blood pressure,height,weight
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,2180-06-26 18:27:00,50 days 01:12:00,False,0,F,52,...,URGENT,TRANSFER FROM HOSPITAL,Other,ENGLISH,WIDOWED,WHITE,19.2,121/77,1.52,44.60
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,2180-07-23 12:35:00,25 days 17:46:00,True,1,F,52,...,EW EMER.,EMERGENCY ROOM,Medicaid,ENGLISH,WIDOWED,WHITE,19.2,121/77,1.52,44.60
2,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,2180-08-05 23:44:00,11 days 05:49:00,True,2,F,52,...,EW EMER.,EMERGENCY ROOM,Medicaid,ENGLISH,WIDOWED,WHITE,19.2,121/77,1.52,44.60
3,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,NaT,False,2,F,52,...,EW EMER.,EMERGENCY ROOM,Medicaid,ENGLISH,WIDOWED,WHITE,19.2,121/77,1.52,44.60
4,10001217,24597018,2157-11-18 22:56:00,2157-11-25 18:00:00,2157-12-18 16:58:00,22 days 22:58:00,True,1,F,55,...,EW EMER.,EMERGENCY ROOM,Other,?,MARRIED,WHITE,24.3,134/84,1.68,68.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,10040025,22251969,2147-08-03 02:58:00,2147-08-06 16:50:00,2147-11-09 08:02:00,94 days 15:12:00,False,1,F,64,...,OBSERVATION ADMIT,EMERGENCY ROOM,Other,ENGLISH,DIVORCED,WHITE,38.1,112/60,1.68,107.20
271,10040025,27876215,2147-11-09 08:02:00,2147-11-14 18:53:00,2147-12-04 20:48:00,20 days 01:55:00,True,2,F,64,...,EW EMER.,EMERGENCY ROOM,Other,ENGLISH,DIVORCED,WHITE,38.1,112/60,1.68,107.20
272,10040025,27259207,2147-12-04 20:48:00,2147-12-18 16:43:00,2147-12-29 19:36:00,11 days 02:53:00,True,3,F,64,...,OBSERVATION ADMIT,EMERGENCY ROOM,Other,ENGLISH,DIVORCED,WHITE,38.1,112/60,1.68,107.20
273,10040025,25933959,2147-12-29 19:36:00,2148-01-09 17:38:00,2148-01-23 12:18:00,13 days 18:40:00,True,4,F,64,...,ELECTIVE,PHYSICIAN REFERRAL,Other,ENGLISH,DIVORCED,WHITE,38.1,112/60,1.68,107.20
274,10040025,27996267,2148-01-23 12:18:00,2148-02-04 20:51:00,NaT,NaT,False,4,F,64,...,OBSERVATION ADMIT,TRANSFER FROM SKILLED NURSING FACILITY,Other,ENGLISH,DIVORCED,WHITE,38.1,112/60,1.68,107.20

### Data Cleaning

In [281]:
#Checking for duplicates and missing values from the prescriptions df

prescriptions_df.duplicated().sum()

0

In [282]:
#missing values
prescriptions_df.isnull().sum()

subject_id                0
hadm_id                   0
drug_type                 0
drug                      0
gender_x                  0
age                       0
diagnosis                 0
gender_y                  0
age                       0
admittime                 0
dischtime                 0
admission_type            0
admission_location        0
insurance                 0
language                  0
marital_status         6971
race                      0
bmi                   30835
blood pressure        46636
height                38545
weight                23612
died                      0
length_of_stay            0
dtype: int64

In [283]:
#drop missing values from the dataset

prescriptions_df.dropna(inplace=True)
prescriptions_df

,subject_id,hadm_id,drug_type,drug,gender_x,age,diagnosis,gender_y,age,admittime,...,insurance,language,marital_status,race,bmi,blood pressure,height,weight,died,length_of_stay
0,10027602,28166872,MAIN,Fentanyl Citrate,F,71,"Urinary tract infection, site not specified",F,71,2201-10-30 12:05:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
1,10027602,28166872,MAIN,Fentanyl Citrate,F,71,Acute respiratory failure,F,71,2201-10-30 12:05:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
2,10027602,28166872,MAIN,Fentanyl Citrate,F,71,"Asthma, unspecified type, unspecified",F,71,2201-10-30 12:05:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
3,10027602,28166872,MAIN,Fentanyl Citrate,F,71,Solitary pulmonary nodule,F,71,2201-10-30 12:05:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
4,10027602,28166872,MAIN,Fentanyl Citrate,F,71,Streptococcus infection in conditions classifi...,F,71,2201-10-30 12:05:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2362332,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,M,60,"Constipation, unspecified",M,60,2148-06-24 15:22:00,...,Other,ENGLISH,SINGLE,WHITE,40.3,187/74,1.84,124.00,False,3
2362333,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,M,60,"Hematuria, unspecified",M,60,2148-06-24 15:22:00,...,Other,ENGLISH,SINGLE,WHITE,40.3,187/74,1.84,124.00,False,3
2362334,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,M,60,Obstructive sleep apnea (adult) (pediatric),M,60,2148-06-24 15:22:00,...,Other,ENGLISH,SINGLE,WHITE,40.3,187/74,1.84,124.00,False,3
2362335,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,M,60,Long term (current) use of anticoagulants,M,60,2148-06-24 15:22:00,...,Other,ENGLISH,SINGLE,WHITE,40.3,187/74,1.84,124.00,False,3
2362336,10014354,26228185,MAIN,Carbamide Peroxide 6.5%,M,60,Sick sinus syndrome,M,60,2148-06-24 15:22:00,...,Other,ENGLISH,SINGLE,WHITE,40.3,187/74,1.84,124.00,False,3

In [284]:
prescriptions_df.isnull().sum()

subject_id            0
hadm_id               0
drug_type             0
drug                  0
gender_x              0
age                   0
diagnosis             0
gender_y              0
age                   0
admittime             0
dischtime             0
admission_type        0
admission_location    0
insurance             0
language              0
marital_status        0
race                  0
bmi                   0
blood pressure        0
height                0
weight                0
died                  0
length_of_stay        0
dtype: int64

In [285]:
cleaned_data= prescriptions_df.copy()
cleaned_data.head()

,subject_id,hadm_id,drug_type,drug,gender_x,age,diagnosis,gender_y,age,admittime,...,insurance,language,marital_status,race,bmi,blood pressure,height,weight,died,length_of_stay
0,10027602,28166872,MAIN,Fentanyl Citrate,F,71,"Urinary tract infection, site not specified",F,71,2201-10-30 12:05:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
1,10027602,28166872,MAIN,Fentanyl Citrate,F,71,Acute respiratory failure,F,71,2201-10-30 12:05:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
2,10027602,28166872,MAIN,Fentanyl Citrate,F,71,"Asthma, unspecified type, unspecified",F,71,2201-10-30 12:05:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
3,10027602,28166872,MAIN,Fentanyl Citrate,F,71,Solitary pulmonary nodule,F,71,2201-10-30 12:05:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21
4,10027602,28166872,MAIN,Fentanyl Citrate,F,71,Streptococcus infection in conditions classifi...,F,71,2201-10-30 12:05:00,...,Other,ENGLISH,SINGLE,WHITE,27.7,128/80,1.59,69.17,False,21